<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>fluidsynth.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>libfluidsynth.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>package.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>tarball-autotools.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>tarball.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>uninstall.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2DD42FAF8C8E42FDA31022A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39FD41569E044FD798CE891F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>439112E0F9D74856A211FB9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BD8B90E4AA14A889E0B06EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B708E7E7CEE947989098B1D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D054CEFB369B45218CD1AE3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E066CB5E78CA4348AC9A4FAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF1D84907C59487E80A40044</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F640AD5D7D064BD4A6F4D18B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
