<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>fluidsynth.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>libfluidsynth.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>package.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>tarball-autotools.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>tarball.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>uninstall.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>032F845F99F346B8BAC35B39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35F82135E24947918070BFCA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B0962E89F2F4B5D907A94F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>400D5BEFE0F640978D98CFD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A7D6343ECE04C6E90993C31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C612CB2E0BDF4436B81D9071</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBB928C3FEEA4A6089C0D111</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB66A284793245E6B8A264DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE46ECA162664D53BDE53088</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
